starlette==0.13.6
uvicorn[standard]==0.11.5
aiofiles==0.5.0
gunicorn==20.0.4
httpx==0.16.1
python-multipart==0.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dill==0.3.3
faiss-cpu==1.6.5
filelock==3.0.12
fuzzywuzzy==0.18.0
idna==2.10
joblib==1.0.0
nlp==0.4.0
numpy==1.19.5
packaging==20.8
pandas==1.2.0
pyarrow==2.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
six==1.15.0
tokenizers==0.9.4
torch==1.7.1
tqdm==4.56.0
transformers==4.2.1
typing-extensions==3.7.4.3
urllib3==1.26.2
xxhash==2.0.0
beautifulsoup4=4.9.3
nltk=3.5
rouge_score=0.0.4
lxml=4.6.2
python-pptx==0.6.18